@import "./tailwind.pcss";
@import "animate.css";

body {
    background: #000000;
    font-family: 'Barlow', sans-serif;
}

.bg-geography {
    fill: #353b35
}

.map-marker {
    fill: #70a870
}

.logo-text {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1600px;
}

.transition {
    transition: 0.5s;
}

.bg-white-opacity-90 {
    background-color: rgba(255, 255, 255, 0.9);
}

button {
    outline: none !important;
}

.bg-darkprimary-100 {
    background-color: #0a0a0a;
}

.bg-darkprimary-200 {
    background-color: #000000;
}

.border-darkprimary-100 {
    border-color: #0a0a0a;
}

.border-darkprimary-200 {
    border-color: #000000;
}

.font-xxs {
    font-size: 10px;
}

.tooltip {
    background: #303430 !important;
    border-radius: 6px !important;
    color: #96b883 !important;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.15) !important;
}

.tooltip.place-top:after {
    border-top-color: #151813 !important;
}

.tooltip.place-right:after {
    border-right-color: #1b2618 !important;
}

.timer {
    font-family: 'Roboto Mono', monospace;
}

.rsm-geography:focus { outline: none; }

.rsm-svg {
    width: 100%;
    min-width: 800px;
}

.text-brand-gray {
    color: #9dc195;
}

.online, .online .green, .marker, .text-brand-green {
    color: #73ad5b;
}

.online .orange, .marker.orange, .text-brand-orange {
    color: #efc865;
}

.online .red, .marker.red, .text-brand-red {
    color: #954A51;
}

.offline {
	color: #808080;
}

.flex-break {
  flex-basis: 100%;
  height: 0;
}

.flex-basis {
	flex-basis: 0;
}

.overflow-anchor-none {
	overflow-anchor: none;
}

.pill {
    @apply inline-block border py-1 px-3 border-white text-primary-500;
}

.pill:hover {
    @apply bg-gray-200 border-gray-200;
}

.pill-active {
    @apply inline-block border py-1 px-3 border-primary-500 bg-primary-500 text-white;
}

.inputs {
    @apply block appearance-none rounded-none w-full text-gray-700 bg-gray-200 border border-gray-200 px-3 py-2 mb-1 leading-tight;
}

.inputs:focus {
    @apply outline-none bg-white border-gray-500;
}